@import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&family=Sevillana&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    display: flex;
}
section#menu{
    width: 30%;
    height: 100vh;
    background: linear-gradient(to bottom, #171433, #1500ffa1);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 3px 5px #171433;
}
section#menu ul{
   width: 100%;
    
}
section#menu ul li{
    background-color: #dddddd;
    margin-top: 25px;
    width: 50%;
    height: 25px;
    margin: 10px auto 0 10%;
    text-align: center;
    list-style: none;
    padding-top: 3px;
}
section#menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
}
section.postagem{
    background-image: url("/imagens/background.png");
    width: 60%;
    height: 627px;
    float: right;
    top:0;
    margin: 0 auto 0 auto;
}

footer{
    bottom: 0;
    position: absolute;
    left: 40%;
}
#check{
    display: none;
}
span.menu{
    color: #FFB800;
    background-color: #7A41E0;
    font-size: 25pt;
    padding: 0 25px 0 25px;
    margin: 10px auto 0 10%;
    width: 60%;
    position: relative;
    text-align: center;
}