*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
}
main#conteiner{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
section#top-bar{
    width: 100%;
    height: 8vh;
    background: #dddddd;
    box-shadow: 1px 1px 3px #000000;
}
section.postagem{
    border: 1px solid black;
    width: 80%;
    margin: 20px auto 0 auto;
    padding: 10px;
    box-shadow: 2px 2px 4px black;
    background: linear-gradient(to bottom, #173c5e, #eca582);
    color: #ffffff;
    border-radius: 10px;
}
img#img{
    width: 50%;
    box-shadow: 1px 1px 3px black;
}
footer.rodape{
    font-size: 8pt;
    color: black;
    text-align: center;
    margin-top: 10px;
}