@import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&family=Sevillana&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

}
main#conteiner{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    font-family: 'Sans Serif', Arial;

}
section#top-bar{
    width: 100%;
    height: 8vh;
    background: linear-gradient(to bottom, #103252, 90%, #ffffff);
    /*box-shadow: 1px 1px 3px #000000;*/
   
}
div.sidebar{
    transition: all .5s ease;
    
}
div.sidebar ul li{
    display: inline;
    padding: 10px;
    float: right;
    position: relative;
    right: 5%;
}
div.sidebar ul li a{
    text-decoration: none;
    color: black;
    font-size: 20pt;
    box-shadow: 2px 2px 4px #000000;
    background: #ffffff;
    transition: all .5s ease;
    padding: 0px 5px 0px 5px;

    
}
div.sidebar ul li a:hover{
    background-color: #103252;
    color: #ffffff;
    font-size: 25pt;
}
#check{
    display: none;
}
#check:checked ~ .sidebar{
    left: 0;
}
i#menu{
    display: none;
}

section.postagem{
    border: 1px solid black;
    width: 80%;
    margin: 20px auto 0 auto;
    padding: 10px;
    box-shadow: 2px 2px 4px black;
    background: linear-gradient(to bottom, #173c5e, #173c5ed4);
    color: #ffffff;
    border-radius: 10px;
    font-family: 'sevillana', cursive;
    font-size: 15pt;
}
img#img{
    width: 50%;
    box-shadow: 1px 1px 3px black;
}
footer.rodape{
    font-size: 8pt;
    color: black;
    text-align: center;
    margin-top: 10px;
    bottom: 0;
    position: absolute;
}
@media screen and (max-width: 750px){
  div.sidebar{
    margin-top:25px;
    background: #dddddd;
    width: 30%;
    height: 400px;
    left: -300px;
    z-index: 100;
    position: relative;
    box-shadow: 1px 1px 3px #000000;
    color: #000000;
    text-align: center;
    border-radius: 

  }
  div.sidebar ul{
    display: flex;
    flex-direction: column;
  }
  div.sidebar ul li{
    padding: 10px;
    width: 100%;
    position: relative;
  }
  i#menu{
    position: relative;
    left: 2%;
    display: block;
    color: #ffffff;
    font-size: 25pt;
    
}

}